{% extends "Home/Freelancer/home_layout.html.twig" %}

{% block homecontent %}

    <!-- Page Content
    ================================================== -->
    <!-- Employer Headline -->
    <div class="dashboard-headline">
        <h3>Add your own Note ;)</h3>
    </div>

    <!-- Row -->
    <div class="row">
        {{ form_start(form, {'method': 'POST'}) }}
        <!-- Employer Box -->
        <div class="col-xl-12">
            <div class="dashboard-box margin-top-0">

                <!-- Headline -->
                <div class="headline">
                    <h3><i class="icon-feather-folder-plus"></i>Add a Note</h3>
                </div>


                <div class="content with-padding padding-bottom-10">
                    <div class="row">

                        <div class="col-xl-12">
                            <div class="submit-field">
                                <h5>What's you Note name ?</h5>
                                {{ form_widget(form.noteName,{ 'attr': {'type':'textarea','class' : 'with-border','name' : 'noteName', 'placeholder': 'Name'|trans} }) }}
                                <!-- upload button-->
                            </div>
                        </div>

                        <div class="col-xl-12">
                            <div class="submit-field">
                                <h5>Can you set your Notes's Priority ?</h5>
                                {{ form_widget(form.priority,{ 'attr': {'aria-expanded':'false','title':'Select Priority','role':'button','data-toggle':'dropdown','class' : 'btn dropdown-toggle bs-placeholder btn-default','name' : 'priority', 'placeholder': 'e.g. web'|trans} }) }}
                            </div>
                        </div>

                        <div class="col-xl-12">
                            <div class="submit-field">
                                <h5>Can you Describe your Note ?</h5>
                                {{ form_widget(form.noteText,{ 'attr': {'type':'textarea','class' : 'with-border','name' : 'noteText', 'placeholder': 'Description'|trans} }) }}
                                <!-- upload button-->

                            </div>
                        </div>

                    </div>
                </div>

                <!-- Spacer -->
                <div class="margin-top-15"></div>
                <!-- Spacer / End-->

            </div>
        </div>

        <div class="col-xl-12">
            <!-- Button -->
            <button class="button dark ripple-effect button-sliding-icon" style="background-color: #2a41e8;margin-bottom: 800px;" type="submit" value="post">Add you Note<i class="icon-material-outline-arrow-right-alt"></i></button>
        </div>

        {{ form_end(form) }}
    </div>
    <!-- Row / End -->
{% endblock %}