<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
            <link rel="stylesheet" href="{{  asset('css/colors/blue.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>


        {% block body %}

        {% endblock %}

        {% block javascripts %}
            <script src="{{asset('assets/js/jquery-3.3.1.min.js')}}"></script>
            <script src="{{asset('assets/js/jquery-migrate-3.0.0.min.js')}}"></script>
            <script src="{{asset('assets/js/mmenu.min.js')}}"></script>
            <script src="{{asset('assets/js/tippy.all.min.js')}}"></script>
            <script src="{{asset('assets/js/simplebar.min.js')}}"></script>
            <script src="{{asset('assets/js/bootstrap-slider.min.js')}}"></script>

            <script src="{{asset('assets/js/bootstrap-select.min.js')}}"></script>
            <script src="{{asset('assets/js/snackbar.js')}}"></script>
            <script src="{{asset('assets/js/clipboard.min.js')}}"></script>
            <script src="{{asset('assets/js/counterup.min.js')}}"></script>
            <script src="{{asset('assets/js/magnific-popup.min.js')}}"></script>
            <script src="{{asset('assets/js/slick.min.js')}}"></script>
            <script src="{{asset('assets/js/custom.js')}}"></script>
            <script src="{{asset('assets/js/chart.min.js') }}"></script>


        {% endblock %}

    </body>
</html>
