{% extends "Dashboard/Employer/dashboard_layout.html.twig" %}
{% block content %}

    <!-- Title -->
    <div class="dashboard-headline">
        <h3>Post a Project</h3>
    </div>
    <!-- End Title -->

    <!-- Content -->
    <div class="row">

        <!-- Form -->
        {{ form_start(form, {'method': 'POST'}) }}
        <div class="col-xl-12">
            <div class="dashboard-box margin-top-0">
                <!-- Form Title -->
                <div class="headline">
                    <h3><i class="icon-feather-folder-plus"></i>Project Submission Form</h3>
                </div>
                <!-- End Form Title -->

                <!-- Form Content -->
                <div class="content with-padding padding-bottom-10">

                    <div class="row">

                        <div class="col-xl-4">
                            <div class="submit-field">
                                <h5>Project Name</h5>
                                {{ form_widget(form.projectName,{ 'attr': {'class' : 'with-border','name' : 'projectName', 'placeholder': 'build me a website'|trans} }) }}
                            </div>
                        </div>



                        <div class="col-xl-4">
                            <div class="submit-field">
                                <h5>
                                    Location
                                    <i class="help-icon" data-tippy-placement="right" data-tippy="" data-original-title="Leave blank if it's an online job"></i>
                                </h5>

                                <div class="input-with-icon">
                                    <div id="autocomplete-container"><div class="pac-container pac-logo" style="display: none; width: 287px; position: absolute; left: 997px; top: 393px;"></div>
                                        {{ form_widget(form.projectLocation,{ 'attr': {'class' : 'with-border','id':'autocomplete-input','name' : 'projectLocation','autocomplete':'off', 'placeholder': 'Anywhere'|trans} }) }}
                                    </div>
                                    <i class="icon-material-outline-country-on"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12">
                            <div class="submit-field">
                                <div class="row">



                                    <div class="col-md-8">
                                        <h5>What is your estimated budget?</h5>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="input-with-icon">
                                                    {{ form_widget(form.minBudget,{ 'attr': {'class' : 'with-border','name' : 'minBudget', 'placeholder': 'Minimum'|trans} }) }}
                                                    <i class="currency">TND</i>
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <div class="input-with-icon">
                                                    {{ form_widget(form.maxBudget,{ 'attr': {'class' : 'with-border','name' : 'maxBudget', 'placeholder': 'Maximum'|trans} }) }}
                                                    <i class="currency">TND</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-xl-12">
                            <div class="submit-field">
                                <h5>Describe your Project</h5>
                                {{ form_widget(form.projectDescription,{ 'attr': {'type':'textarea','class' : 'with-border','name' : 'projectDescription', 'placeholder': 'Description'|trans} }) }}
                            </div>
                        </div>

                    </div>

                    <div class="col-xl-12">
                        <div class="submit-field">
                            <h5>Describe your Project</h5>
                            {{ form_widget(form.validityPeriod,{ 'attr': {'type':'date','class' : 'with-border','name' : 'validityPeriod' }}) }}
                        </div>
                    </div>

                </div>
                <!-- End Form Content -->

                <!-- Spacer -->
                <div class="margin-top-15"></div>
                <!-- Spacer / End-->
            </div>
        </div>


        <!-- Button -->
        <div class="col-xl-12">
            <button class="button dark ripple-effect button-sliding-icon" style="background-color: #2a41e8" type="submit" value="post">
                Post a Project
                <i class="icon-material-outline-arrow-forward"></i>
            </button>
        </div>
        <!-- End Button -->


        {{ form_end(form) }}
        <!-- End Form -->

    </div>
    <!-- End Content -->


{% endblock %}