<!-- Employer Sidebar
	================================================== -->
<div class="dashboard-sidebar">
    <div class="dashboard-sidebar-inner" data-simplebar>
        <div class="dashboard-nav-container">

            <!-- Responsive Navigation Trigger -->
            <a href="#" class="dashboard-responsive-nav-trigger">
					<span class="hamburger hamburger--collapse" >
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</span>
                <span class="trigger-title">Dashboard Navigation</span>
            </a>

            <!-- Navigation -->
            <div class="dashboard-nav">
                <div class="dashboard-nav-inner">

                    <ul data-submenu-title="Start">
                        <li><a href="{{ path('employer_dashboard') }}"><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>
                        <li><a href="{{ path('rate_freelancer') }}"><i class="icon-material-outline-rate-review"></i> Reviews</a></li>
                    </ul>

                    <ul data-submenu-title="Organize and Manage">
                        <li><a href="{{ path('manage_jobs') }}"><i class="icon-material-outline-business-center"></i> Jobs</a>
                            <ul>
                                <li><a href="{{ path('manage_jobs') }}">Manage Jobs</a></li>
                                <li><a href="{{ path('post_job') }}">Post a Job</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('manage_projects') }}"><i class="icon-material-outline-assignment"></i> Tasks</a>

                        </li>
                    </ul>

                    <ul data-submenu-title="Account">
                        <li><a href="{{ path('profile') }}"><i class="icon-material-outline-settings"></i> Settings</a></li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <i class="icon-material-outline-power-settings-new"></i>{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                        {% endif %}
                    </ul>

                </div>
            </div>
            <!-- Navigation / End -->

        </div>
    </div>
</div>
<!-- Employer Sidebar / End -->