{% extends "Dashboard/Freelancer/dashboard_layout.html.twig" %}

{% block content %}

    <h3><i class="icon-feather-folder-plus"></i> Job Search</h3>
    <br>
    <br>

    {{ form_start(form) }}
    {{ form_label(form.category, 'Category:') }}
    {{ form_widget(form.category) }}
    <br>
    <input type="submit" value="Search" class="button dark ripple-effect button-sliding-icon col-xl-12 ">
    <br>
    {{ form_end(form) }}

    <br>
    <div>


        {% for i in jobs %}



            <div class="job-overview">
                <div class="job-overview-headline">{{ i.title }} Summary</div>
                <div class="job-overview-inner">
                    <ul>

                        <li>
                            <i class="icon-material-outline-location-on"></i>
                            <span>Location</span>
                            <h5>{{ i.location }}</h5>
                        </li>
                        <li>
                            <i class="icon-material-outline-business-center"></i>
                            <span>Job Type</span>
                            <h5>{{ i.type }}</h5>
                        </li>
                        <li>
                            <i class="icon-material-outline-local-atm"></i>
                            <span>Salary</span>
                            <h5>{{ i.minSalary }} - {{i.maxSalary  }}</h5>
                        </li>


                    </ul>
                    <br>


                    <div class="col-xl-8 col-lg-8 content-right-offset">

                        <div class="single-page-section">

                            <!-- Accordion -->
                            <div class="accordion js-accordion">

                                <!-- Accordion Item -->
                                <div class="accordion__item js-accordion-item">
                                    <div class="accordion-header js-accordion-header">Description</div>

                                    <!-- Accordtion Body -->
                                    <div class="accordion-body js-accordion-body" style="display: none;">

                                        <!-- Accordion Content -->
                                        <div class="accordion-body__contents">
                                            <p>{{ i.description }}</p>
                                        </div>

                                    </div>
                                    <!-- Accordion Body / End -->
                                </div>
                                <!-- Accordion Item / End -->





                            </div>
                            <!-- Accordion / End -->
                        </div>


                    </div>

                </div>
            </div>













        {% endfor %}

        </table>


    </div>







{% endblock %}
