<!-- Left Side Content -->
<div class="left-side">

    <!-- Logo -->
    <div id="logo">
        <a href="index-2.html"><img src="images/logo.png" alt=""></a>
    </div>

    <!-- Main Navigation -->
    <nav id="navigation">
        <ul id="responsive">

            <li><a href="{{ path('employer_home') }}">Home</a>

            </li>

            <li><a href="#">For Employers</a>
                <ul class="dropdown-nav">
                    <li><a href="{{ path('find_freelancer') }}">Find a Freelancer</a>

                    </li>
                    <li><a href="{{ path('post_job') }}">Post a Job</a></li>
                    <li><a href="{{ path('create_task') }}">Post a Task</a></li>
                </ul>
            </li>

            <li><a href="#" class="current">Dashboard</a>
                <ul class="dropdown-nav">
                    <li><a href="{{ path('employer_dashboard') }}">Dashboard</a></li>
                    <li><a href="dashboard-messages.html">Messages</a></li>
                    <li><a href="{{ path('employer_bookmarks') }}">Bookmarks</a></li>
                    <li><a href="{{ path('rate_freelancer') }}">Reviews</a></li>
                    <li><a href="dashboard-manage-jobs.html">Jobs</a>
                        <ul class="dropdown-nav">
                            <li><a href="{{ path('manage_jobs') }}">Manage Jobs</a></li>
                            <li><a href="{{ path('manage_candidates') }}">Manage Candidates</a></li>
                            <li><a href="{{ path('post_job') }}">Post a Job</a></li>
                        </ul>
                    </li>
                    <li><a href="dashboard-manage-tasks.html">Tasks</a>
                        <ul class="dropdown-nav">
                            <li><a href="{{ path('list_projects') }}">Manage Tasks</a></li>
                            <li><a href="{{ path('create_task') }}">Post a Task</a></li>
                        </ul>
                    </li>
                    <li><a href="dashboard-settings.html">Settings</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="clearfix"></div>
    <!-- Main Navigation / End -->

</div>
<!-- Left Side Content / End -->