{% extends "Dashboard/Freelancer/dashboard_layout.html.twig" %}


{% block content %}
<!-- Employer Headline -->
<div class="dashboard-headline">
    <h3>Bookmarks</h3>

    <!-- Breadcrumbs -->
    <nav id="breadcrumbs" class="dark">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li>Bookmarks</li>
        </ul>
    </nav>
</div>

<!-- Row -->
<div class="row">
    <!-- Employer Box -->
    <div class="col-xl-12">
        <div class="dashboard-box margin-top-0">

            <!-- Headline -->
            <div class="headline">
                <h3><i class="icon-material-outline-business-center"></i> Bookmarked Jobs</h3>
            </div>

            <div class="content">
                <ul class="dashboard-box-list">


                    {% for bookmark in bookmarks %}
                    <li>
                        <!-- Job Listing -->
                        <div class="job-listing">

                            <!-- Job Listing Details -->
                            <div class="job-listing-details">
                                <!-- Details -->
                                <div class="job-listing-description">
                                    <h3 class="job-listing-title"><a href="#">{{ bookmark.project.projectName }}</a></h3>

                                    <!-- Job Listing Footer -->
                                    <div class="job-listing-footer">
                                        <ul>
                                            <li><i class="icon-material-outline-money"></i> {{ bookmark.project.minBudget }}</li>
                                            <li><i class="icon-material-outline-location-on"></i> {{ bookmark.project.projectLocation }}</li>
                                            <li><i class="icon-material-outline-date-range"></i> {{ bookmark.project.validityPeriod|date }}</li>
                                            <li><i class="icon-material-outline-access-time"></i> {{ bookmark.project.publishingDate|date }} </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Buttons -->
                        <div class="buttons-to-right">
                            <a href="{{ path('bookmark_project',{'id':bookmark.project.id}) }}" class="button red ripple-effect ico" title="Remove" data-tippy-placement="left"><i class="icon-feather-trash-2"></i></a>
                        </div>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</div>
    <!-- Row / End -->

{% endblock %}
