<!-- Left Side Content -->
<div class="left-side">

    <!-- Logo -->
    <div id="logo">
        <a href="index-2.html"><img src="images/logo.png" alt=""></a>
    </div>

    <!-- Main Navigation -->
    <nav id="navigation">
        <ul id="responsive">

            <li><a href="{{ path('freelancer_home') }}">Home</a>
            </li>

            <li><a href="{{ path('front_JobsList') }}">Find Work</a>
                <ul class="dropdown-nav">
                    <li><a href="{{ path('front_JobsList') }}">Browse Jobs</a>
                    </li>
                    <li><a href="{{ path('tasks') }}">Browse Tasks</a>
                    </li>
                    <li><a href="{{ path('front_browseCompanies') }}">Browse Companies</a></li>
                    <li><a href="{{ path('front_Job') }}">Job Page</a></li>
                    <li><a href="{{ path('front_Task') }}">Task Page</a></li>
                    <li><a href="{{ path('front_Company') }}">Company Profile</a></li>
                </ul>
            </li>


            <li><a href="#" class="current">Dashboard</a>
                <ul class="dropdown-nav">
                    <li><a href="{{ path('freealancer_dashboard') }}">Dashboard</a></li>
                    <li><a href="dashboard-messages.html">Messages</a></li>
                    <li><a href="{{ path('freelancer_bookmarks') }}">Bookmarks</a></li>
                    <li><a href="{{ path('rate_employer') }}">Reviews</a></li>

                    <li><a href="{{ path('bids') }}">Bids</a>
                        <ul class="dropdown-nav">
                            <li><a href="{{ path('bids') }}">My Active Bids</a></li>
                        </ul>
                    </li>
                    <li><a href="dashboard-settings.html">Settings</a></li>
                </ul>
            </li>


        </ul>
    </nav>
    <div class="clearfix"></div>
    <!-- Main Navigation / End -->

</div>
<!-- Left Side Content / End -->